# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment Variables
.env
.env.*
!.env.example
!.env.docker

# Storage & Databases
media/
static/
minio_data/
db_data/
redis_data/
*.sqlite3

# OS
.DS_Store
Thumbs.db