[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.0"
gunicorn = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
celery = "*"
redis = "*"
django-cors-headers = "*"
django-storages = "*"
boto3 = "*"
maileroo = "*"
pywebpush = "*"
pgvector = "*"
face-recognition = "*"
sentence-transformers = "*"
imagehash = "*"
pillow = "*"
PyMuPDF = "*"
pytesseract = "*"
opencv-python-headless = "*"
scikit-learn = "*"
django-filter = "*"

[dev-packages]
pytest-django = "*"
flake8 = "*"

[requires]
python_version = "3.12"
